{
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "globals": {
    "$": true,
    "_": true,
    "autosize": true,
    "axios": true,
    "ClipboardJS": true,
    "CodeMirror": true,
    "domtoimage": true,
    "jQuery": true,
    "jwplayer": true,
    "store": true,
    "swal": true,
    "timeago": true,
    "toastr": true,
    "videojs": true,
    "Vue": true
  },
  "extends": "eslint:recommended",
  "rules": {
    "comma-spacing": ["warn"],
    "curly": ["warn", "all"],
    "eol-last": ["warn"],
    "eqeqeq": ["warn", "smart"],
    "func-call-spacing": ["warn", "never"],
    "indent": ["warn", 2, {"SwitchCase": 1} ],
    "linebreak-style": ["error", "unix"],
    "new-parens": ["warn"],
    "no-console": "off",
    "no-constant-condition": "off",
    "no-empty": ["warn"],
    "no-implicit-coercion": ["warn"],
    "no-irregular-whitespace": ["warn"],
    "no-lonely-if": ["warn"],
    "no-multi-spaces": ["warn"],
    "no-trailing-spaces": ["warn"],
    "no-unused-vars": ["warn"],
    "quotes": ["warn", "single"],
    "semi": ["error"],
    "semi-spacing": ["warn"],
    "space-infix-ops": ["warn", {"int32Hint": false}],
    "spaced-comment": ["warn", "always", {"exceptions": ["/", "-", "+", "!"]}],
    "unicode-bom": ["error", "never"]
  }
}
